nav.navbar-fixed-top.navbar
  div.navbar-inner
    div.container &nbsp;
    
div.container
  div.hero-unit
    h1= title
    p #{body}
    a.btn.btn-primary.btn-large(href='auth/twitter') Sign in With Twitter