nav.navbar-fixed-top.navbar
  div.navbar-inner
    div.container &nbsp;
    
div.container
  div.hero-unit
    h1= title
    p #{body}
    a.btn.btn-primary.btn-large(href='auth/twitter') Sign in With Twitter
    
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(type='text/javascript', src='js/bootstrap.min.js');
script(type='text/javascript', src='js/script.js');
    